{% include 'header.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar" style="background-color: #333; color: #fff; padding: 20px;">
            <h1>Employer Name</h1>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="col-md-10 content" style="padding: 20px;">
            <!-- page content goes here -->
        </div>
    </div>
</div>

{% endblock %}
