{% include 'header.html' %} {% block content %}

<style>
  p strong{
    min-width:400px ;
  }
</style>
<div class="container" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; ;">
  <!-- start of main container  -->

    
    
    
    <div
    style="margin: 30px; padding: 10px; background-color: #f7f0f5;width:60% "
    class="card"
    >
    <div style="display: flex; justify-content: space-between;">
      <div>

        <h1 class=" card-title">Application Details</h1>
        <h2 class="card-subtitle mb-2 text-muted">Job Positon: {{ application.job.title }}</h2>
      </div>
        <input
    type="submit"
    value="Send a Message"
    class="m-3  px-5 btn btn-primary"
    style="background-color: #561c32;height :40px; position:static"
    id="scroll-down-button"
  />
    </div>

    <hr>
    <small> Date added: {{application.created_at}}</small>

    <div class="card-body">

      <div style="display: flex;">
        <h6 style="min-width: 200px; font-weight: bold;">First Name:</h6>
        <h6>{{application.first_name}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Last Name:</h6>
        <h6>{{application.last_name}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Date of birth:</h6>
        <h6>{{application.date_of_birth}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Gender:</h6>
        <h6>{{application.gender}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Education:</h6>
        <h6>{{application.education}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Email:</h6>
        <h6>{{application.email}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Location:</h6>
        <h6>{{application.location}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Mobile:</h6>
        <h6>{{application.mobile}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="min-width: 200px; font-weight: bold;">Experience:</h6>
        <h6>{{application.experience}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="width: 200px; word-wrap: normal; font-weight: bold;">Additional Comment:</h6>
        <h6>{{application.content}}</h6>
      </div>
      <div style="display: flex">
        <h6 style="width: 200px; word-wrap: normal; font-weight: bold;">Resume:</h6>
        <h6>{{application.resume}}</h6>
      </div>
    <p>
    </p>
  </div>
  </div>
  <!-- <input
    type="submit"
    value="Message Employer"
    class="m-3  px-5 btn btn-primary"
    style="background-color: #561c32;height :40px; position:static"
    id="scroll-down-button"
  /> -->

</div>
<hr>

<div id="content">
<h2 class="subtitle">Conversation</h2>
{% for message in application.conversationmessages.all %}
<div class="notification" style="display: flex; flex-direction:column; background-color:#d799b1; margin:20px;border-radius: 5px; padding:10px;">
  <b >{{ message.created_by.username }} - {{ message.created_at|timesince }} ago</b>
  {{ message.content }}
  <br>
</div>
{% empty %}

<p>No messages yet...</p>
{% endfor %}
<form method="post" action="." >
  {% csrf_token %}

  <div class="field">
    <div class="col-sm-12">
      <div class="form-group">
      <textarea style="border: 2px solid" placeholder="Enter your message"   type="textarea" name="content" class="form-control" id="id_content"  rows="5"  ></textarea>
  </div>
  </div>
  </div>
    <input
    type="submit"
    value="Send"
    class="m-3  px-5 btn btn-primary"
    style="background-color: #561c32"
  />
</div>
</div>

</form>
<script>

  document.getElementById("scroll-down-button").addEventListener("click", function() {
    window.scroll({
      top: document.body.scrollHeight,
      behavior: "smooth"
    });
  });
</script>

<!-- end of container  -->
{% endblock %}
