{% include 'header.html' %}

<!-- <h3 class="title ">
  View all users who applied for the job - {{ job.title }}
</h3> -->
<div
  style="margin: 30px; padding: 10px; background-color: #f7f0f5; width: 60%"
  class="card mx-auto"
>
  <div style="display: flex; justify-content: space-between">
    <div>
      
      <h1 class="card-title">Job Vacancy Details</h1>
      <h2 class="card-subtitle mb-2 text-muted">
        Job Positon: {{ job.title }}
      </h2>
    </div>
    <input
      type="submit"
      value="View All Candidates"
      class="m-3 px-5 btn btn-primary"
      style="background-color: #561c32; height: 40px; position: static"
      id="scroll-down-button"
    />
  </div>

  <hr />
  <small> Date added: {{job.created_at}}</small>

  <div class="card-body">
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Job Title:</h6>
      <h6>{{job.title}} ({{job.get_status_display}}) </h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">About Job:</h6>
      <h6>{{job.about_job}}</h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Skillset Required</h6>
      <h6>{{job.skillset_required}}</h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Experience:</h6>
      <h6>{{job.experience}}</h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Salary Range</h6>
      <h6>{{job.salary}}</h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Department Name:</h6>
      <h6>{{job.department_name}}</h6>
    </div>
    <div style="display: flex">
      <h6 style="min-width: 200px; font-weight: bold">Deadline to Submit:</h6>
      <h6>{{job.deadline}}</h6>
    </div>
    
    
    <p></p>
  </div>
</div>

<form method="get" action="{% url 'job:search_jobs'%}">
  <div class="form-group column">
      {% if job.id %}
      <input type="hidden"  name="job_id" value="{{ job.id }}">
    {% endif %}
      

    <br>
    
    <div style="display: flex;">

      <label for="status" class="col-sm-2 col-form-label">Status:</label>
      <div class="col-sm-5">
        <select class="form-control" id="status" name="status">
          <option value="">All</option>
          <option value="approved" {% if status == 'approved' %}selected{% endif %}>Approved</option>
          <option value="pending" {% if status == 'pending' %}selected{% endif %}>Pending</option>
          <option value="declined" {% if status == 'declined' %}selected{% endif %}>Declined</option>
        </select>
      </div>
     
    </div>
  </div>
  <div class="form-group column">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<div class="container">
  <table class="table">
    <thead class="thead-dark table-striped table-bordered">
      <tr>
        <th scope="col">Job id</th>
        <th scope="col">Aplicant Name</th>
        <th scope="col">Email</th>
        <th scope="col">Location</th>
        <th scope="col">Time Applied</th>

        <th scope="col">View Application</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      {% for application in job.applications.all %}

      <tr>
        <th>{{ job.id }}</th>
        <td>{{application.first_name}} {{application.last_name}}</td>
        <td>{{application.email}}</td>
        <td>{{application.location}}</td>
        <td>{{application.created_at}}</td>

        <td>
          <a href="{% url 'view_application' application.id %}"
            ><i class="fas fa-list"></i>Application</a
          >
        </td>
          <td>     
            {%if application.status == 'pending'%}
            <h6> <span style="color: white; border-radius: 5px; padding: 5px; background-color: black">{{application.status}}</span> </h6>
            {%elif application.status == 'approved'%}
            <h6> <span style="color: green; border-radius: 5px; padding: 5px; background-color: black">{{application.status}}</span> </h6>
            {%elif application.status == 'declined'%}
            <h6> <span style="color: red; border-radius: 5px; padding: 5px; background-color: black">{{application.status}}</span> </h6>
            {%endif%} 
          </td>
        
      </tr>

      {% empty %}
      <p>No user applied for this job</p>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

  document.getElementById("scroll-down-button").addEventListener("click", function() {
    window.scroll({
      top: document.body.scrollHeight,
      behavior: "smooth"
    });
  });
</script>