[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-money = "*"
xhtml2pdf = "*"
django-jazzmin = "*"
reportlab = "*"
django-bootstrap-pagination = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
