{% include 'header.html' %} {% block content %}
 <center class="title" style="font-size:50px; font-weight: 100;text-decoration: underline;color: #561c32;
 "> Add job</center>
<form
  method="post"
  action="."
  style="
    color: #561c32;
    font: 100% / normal sans-serif;
    justify-content: space-between;
    font-size: large;
    padding: 20px;
    justify-content: start;
    align-items: flex-start;
  "
>
  {% csrf_token %} 

{%if form.errors %}
     {% for error in form.errors %}
        <div class="notification is-danger">
           {{ error }}
        </div>
    {% endfor %}
{% endif %}



<div class="col-sm-12">
    <div class="form-group">
    <label> Title:-</label>
    <input  style="border: 2px solid" type="text" name="title" class="form-control" id="id_title" required>
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
    <label>Skillset Required:-</label>
    <textarea style="border: 2px solid"   type="textarea" name="skillset_required" class="form-control" id="id_skillset_required"  rows="5"  required></textarea>
</div>
</div>




<div class="col-sm-12">
    <div class="form-group">
    <label>About Job:-</label>
    <textarea style="border: 2px solid"  type="textarea" name="about_job" class="form-control" id="id_about_job"  rows="8"  required></textarea>
</div>
</div>
<div class="col-sm-12">
  <div class="form-group">
  <label> Experience:-</label>
  <input  style="border: 2px solid" type="text" name="title" class="form-control" id="id_experience" required>
  </div>
</div>
<div class="col-sm-12">
  <div class="form-group">
  <label> Salary Range:-</label>
  <input  style="border: 2px solid" type="text" name="title" class="form-control" id="id_salary" required>
  </div>
</div>
<div class="col-sm-12">
  <div class="form-group">
  <label> Deadline Date to Submit:-</label>
  <input  style="border: 2px solid" type="date" name="title" class="form-control" id="id_deadline" required>
  </div>
</div>
<div>
    <label for="file">Image:-</label>
    <br>
    <input   type="file" id="file" name="file" multiple />
   </div>
<div>
    <input
    type="submit"
    value="Add Job"
    class="m-3  px-5 btn btn-primary"
    style="background-color: #561c32"
  />
</div>

</form>

{% endblock %}
