{% include 'header.html' %} {% block content %}
<center
  class="title"
  style="
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline;
    color: #561c32;
  "
>
  Add job
</center>
<div id="add-job-app">
  <form
    v-on:submit="validateForm"
    method="POST"
    style="
      color: #561c32;
      font: 100% / normal sans-serif;
      justify-content: space-between;
      font-size: large;
      padding: 20px;
      justify-content: start;
      align-items: flex-start;
    "
  >
    {% csrf_token %} {%if form.errors %} {% for error in form.errors %}
    <div class="alert alert-danger"> Error in {{ error }} field</div>
    {% endfor %} {% endif %}

    

    <div
      class="card mx-auto"
      style="width: 70%; background-color: #d5abb9; justify-content: center"
    >
      <div class="col-sm-12">
        <div class="form-group">
          <label> Title:-</label>
          <input
            style="border: 2px solid"
            type="text"
            name="title"
            class="form-control"
            id="id_title"
            v-model="title"
          />
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Skillset Required:-</label>
          <textarea
            style="border: 2px solid"
            type="textarea"
            name="skillset_required"
            class="form-control"
            id="id_skillset_required"
            rows="5"
            v-model="skillset_required"
          ></textarea>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>About Job:-</label>
          <textarea
            style="border: 2px solid"
            type="textarea"
            name="about_job"
            class="form-control"
            id="id_about_job"
            rows="8"
            v-model="about_job"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label> Experience:-</label>
          <textarea
            style="border: 2px solid"
            type="text"
            name="experience"
            class="form-control"
            id="id_experience"
            rows="8"
            v-model="experience"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label> Salary Range:-</label>
          <input
            style="border: 2px solid"
            type="text"
            name="salary"
            class="form-control"
            id="id_salary"
          />
        </div>
      </div>
      

      <div class="col-sm-12">
        <div class="form-group">
          <label>Department Name:-</label>
          <div class="select">
            <select name="department_name" v-model="department_name">
              <option value="">---</option>
              <option value="CSS">Computer Support Specialist</option>
              <option value="HWA">Hardware Engineer</option>
              <option value="CSA">Computer System Analyst </option>
              <option value="SWD">Software Developer</option>
              <option value="PRG">Programmer</option>
              <option value="WBD">Web developer</option>
              <option value="NWE">Network engineer</option>
              <option value="SWT">Software Tester</option>


            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label> Deadline Date to Submit:-</label>
          <input
            style="border: 2px solid"
            type="date"
            name="deadline"
            class="form-control"
            id="id_deadline"
            v-model="deadline"

          />
        </div>
      </div>

      <input
        type="submit"
        value="Add Job"
        class="m-3 px-5 btn btn-primary"
        style="background-color: #561c32; justify-content: center"
      />
    </div>

    <!-- <div>
    <label for="file">Image:-</label>
    <br>
    <input   type="file" id="file" name="file" multiple />
   </div>
<div> -->
  <div
    id="alert"
    class="alert alert-danger"
    v-if="errors.length"
    style="color: BLACK; background-color: RED"
  >
    <p v-for="error in errors">[[ error ]]</p>
  </div>
  </form>
</div>

{% endblock %} {% block scripts %}
<script>
  const AddjobApp = {
    data() {
      return {
        title: "",
        company_name: "",
        skillset_required: "",
        about_job: "",
        experience: "",
        department_name: "",
        deadline:"",
        errors: [],
      };
    },
    delimiters: ["[[", "]]"],
    methods: {
      validateForm(e) {
        this.errors = [];

        if (this.title === "") {
          this.errors.push("The Title field is missing!");
        }

        if (this.department_name === "") {
          this.errors.push("The Department name field is missing!");
        }

        if (this.skillset_required === "") {
          this.errors.push("The Skillset field is missing!");
        }

        if (this.about_job === "") {
          this.errors.push("The About Job field is missing!");
        }

        if (this.experience === "") {
          this.errors.push("The Experience field is missing!");
        }

        if (this.company_size === "") {
          this.errors.push("The Company size field is missing!");
        }
        if (this.deadline === "") {
          this.errors.push("The Deadline field is missing!");
        }
        if (this.errors.length) {
          e.preventDefault();
          return false;
        } else {
          return true;
        }
      },
    },
  };
  Vue.createApp(AddjobApp).mount("#add-job-app");
</script>
{% endblock %}
