{% include 'header.html' %} {% block content %}
 <center class="title" style="font-size:50px; font-weight: 100;text-decoration: underline;color: #561c32;
 "> Apply for a job - {{ job.title }}</center>
<form
  method="post"
  action="."
  style="
    color: #561c32;
    font: 100% / normal sans-serif;
    justify-content: space-between;
    font-size: large;
    padding: 20px;
    justify-content: start;
    align-items: flex-start;
  "
>
  {% csrf_token %} 

{%if form.errors %}
     {% for error in form.errors %}
        <div class="notification is-danger">
           {{ error }}
        </div>
    {% endfor %}
{% endif %}



<div class="col-sm-12">
    <div class="form-group">
    <label> Firstname:-</label>
    <input  style="border: 2px solid" type="text" placeholder="Your First Name"  name="first_name" class="form-control" id="id_first_name" required>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label> Lastname:-</label>
    <input  style="border: 2px solid" type="text" name="last_name" placeholder="Your Last Name"  class="form-control" id="id_last_name" required>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label>Date of Birth:-</label>
    <input  style="border: 2px solid" type="date" name="date_of_birth" placeholder="Your Date of Birth"  class="form-control" id="id_date_of_birth" required>
    </div>
</div>
<div class="col-4">
    <div class="form-group">

        <label>Gender</label>

        <div>
        
            <label>Male</label>
            <input type="radio"  placeholder="gender" value="male" name='gender' id="id_gender" >
        </div>
        <div>
            <label>Female</label>
            <input type="radio"  placeholder="gender" value="female" name='gender' id="id_gender">
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
    <label>Education acquired:-</label>
    <textarea style="border: 2px solid" placeholder="Levels of Education Acquired"   type="textarea" name="education" class="form-control" id="education"  rows="5"  required></textarea>
</div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label> Email:-</label>
    <input  style="border: 2px solid" type="text" name="email" placeholder="Your Email"class="form-control" id="id_email" required>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label> Your Location:-</label>
    <input  style="border: 2px solid" type="text" placeholder="Your location" name="location" class="form-control" id="id_location" required>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label> Your Mobile Number:-</label>
    <input  style="border: 2px solid" type="number" placeholder="Your Mobile Number" name="mobile" class="form-control" id="id_mobile" required>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label>Any Work Experience Acquired:-</label>
    <textarea style="border: 2px solid"   type="textarea" name="experience" placeholder="Any Experience Acquired"  class="form-control" id="id_experience"  rows="5"  required></textarea>
</div>
</div>
<div class="col-sm-12">
    <div class="form-group">
    <label>Any Other Information/Comment:-</label>
    <textarea style="border: 2px solid"   type="textarea" name="content" class="form-control" id="id_content"  rows="5"  required></textarea>
</div>


<!-- <div>
    <label for="file">Resume:-</label>
    <br>
    <input   type="file" id="file" name="file" />
   </div>
<div> -->
    <input
    type="submit"
    value="Submit"
    class="m-3  px-5 btn btn-primary"
    style="background-color: #561c32"
  />
</div>

</form>

{% endblock %}
