{% include 'header.html' %} {% block content %}
<div id="search-app">
  <h5  style="text-decoration: underline; color: #561c32 ;font-family: 'Courier New', Courier, monospace; text-align: center;">Search For a Job</h5>

  <form
    @submit.prevent="performSearch()"
    style="
      color: #561c32;
      font: 100% / normal sans-serif;
      justify-content: space-between;
      font-size: large;
      padding: 20px;
      justify-content: start;
      align-items: flex-start;
    "
  >
    <div
      class="card mx-auto"
      style="width: 35%; background-color: #d5abb9; justify-content: center"
    >
      <div class="form-column">
        
        <div class="col-sm-6">
          <div class="form-group">
            <label> Query now</label>
            <input
            type="text" name="query" class="input" v-model="query" 
            />
          </div>
        </div>
          <div class="field form-group col-sm-6">
            <label> Department Name </label>
            <div  class="control ">
              <div class="select ">
                <select name="department_name" v-model="department_name">
                  <option value="">All</option>
                  <option value="Computer Support Specialist">
                    Computer Support Specialist
                  </option>
                  <option value="Hardware Engineer">Hardware Engineer</option>
                  <option value="Computer System Analyst">
                    Computer System Analyst
                  </option>
                  <option value="Software Developer">Software Developer</option>
                  <option value="Programmer">Programmer</option>
                  <option value="Web Developer">Web developer</option>
                  <option value="Network Engineer">Network engineer</option>
                  <option value="Software Tester">Software Tester</option>
                  <option value="Frontend Developer">Frontend Developer</option>
                  <option value="Backend Developer">Backend Developer</option>
                </select>
              </div>
            </div>
          </div>
          <input
            type="submit"
            value="Search "
            class="m-2 px-3 btn btn-primary"
            style="background-color: #561c32; justify-content: center"
          />
        </div>
      </div>
    </div>
  </form>

  <div v-if="jobs.length" style="margin: 10px auto; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div  style="font-size: large; font-weight: 300;">
      <h5 style="text-decoration: underline; color: #561c32 ;font-family: 'Courier New', Courier, monospace; text-align: center;">Found Results</h5>
    </div>
    <div class="row" style="margin: auto; display: flex; align-items: center; justify-content: center;">
      <div
        v-for="job in jobs" :key="job.id"
        class="card shadow"
        style="
          background-color: #ecd8df;
          justify-content: center;
          text-align: center;
          width: 300px;
          margin: 5px
        "
      >
        <h5 class="is-size-4 card-header" style="font-weight: bolder; height: 80px" v-text:="job.title"></h5>
        <p v-text:="job.about_job" style="height: 120px; text-align: left; overflow: hidden;  padding: 10px"></p>
        <a v-bind:href="job.url" class="btn btn-success" style="width: 150px; margin: auto;">
          View Details
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  const SearchApp = {
    data() {
      return {
        query: "",
        department_name: "",
        jobs: [],
      };
    },
    delimeters: ["{{", "}}"],
    methods: {
      performSearch() {
        var data = {
          query: this.query,
          department_name: this.department_name,
        };

        fetch("/job/api/search", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            return response.json();
          })
          .then((result) => {
            console.log(result.jobs);
            this.jobs = result.jobs;
          })
          .catch((error) => {
            console.log("Error", error);
          });
      },
    },
  };
  Vue.createApp(SearchApp).mount("#search-app");
</script>

{% endblock %} {% include 'footer.html' %}
