{% include 'header.html' %}
{% block content %}
<div class="container">

{%if notification.errors %}
    {% for error in notification.errors %}
       <div class="notification is-danger">
          {{ error }}
       </div>
   {% endfor %}
{% endif %}
   <h1 class="title">Notifications</h1>
    {% if not notification1s %}
         No notifications yet!
   {{notification1_count}}
    {% endif %}


    {% for notification1 in notification1s %}
       <div class="notification">
        <p>
            {% if notification1.notification_type == 'message' %}
            <a href="{% url 'notifications' %}?goto=view_application&notification1= {{  notification1.id }}&extra_id={{ notification1.extra_id }}">

                <strong>{{ notification1.created_by.username }}</strong> sent you a message <br>
                <small>{{ notification1.created_at|timesince }} ago </small>
            </a>
            {% elif notification1.notification_type == 'application' %}
            <a href="{% url 'notifications' %}?goto=view_application&notification1= {{  notification1.id }}&extra_id={{ notification1.extra_id }}">

                <strong>{{ notification1.created_by.username }}</strong> applied for your job <br>
                <small>{{ notification1.created_at|timesince }} ago </small>
            </a>
            {% endif %}
            </p>
    
         </div>
    {% endfor %}
</div>
{% endblock%}