{% include 'header.html' %}

{% block content %}
<div style="background-color: #dbb7c3;margin-top:0% ">

  <div style="display: flex; margin: 20px; " >
    <div style="justify-items: end; padding: 10px;">
      <h1 style="color: #561c32">About us <i class="fas fa-people-group"></i></h1>
      <p > We at <strong>4IQ Technologies</strong> are a technology company (or tech company) that focuses primarily on the manufacturing, support, research and development of — most commonly computing, telecommunication and consumer electronics-based — technology-intensive products and services
       which include businesses relating to digital electronics, software, optics, new energy and internet-related services such as cloud storage and e-commerce services.
       We ensure that our customers are fully satisfied by the services and goods we provide to them making them trust us fully
       and recommend us to others who need our services.
       
       Broadly speaking, We majorly engage in the research, development, and manufacture of technologically based goods and services. We create, design, and manufacture computers, mobile and home appliances softwares and provide products and services related to information technology.
      </p>
      
      
    </div>
    <div>
      <img style="border-radius: 20px;  mix-blend-mode: color-burn;  " src="https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg" alt="">
    </div>
  </div>
  
</div>
{% endblock  %}
{% include 'footer.html' %}

