{% load static %} {% include 'header.html' %} 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>4IQ TECHNOLOGIES Employee Recruitement management system</title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  />
</head>
{% if message %}
<div id="alert" class="alert alert-success">{{ message }}</div>
<script>
  setTimeout(function () {
    document.getElementById("alert").style.display = "none";
  }, 5000);
</script>
{% endif %}
<div
  class="jumbotron feature custom-land-page-bg"
  style="
    border-radius: 0;
    background-color: #d5abb9;
    height: 60vh;
    display: flex;
  "
>
  <div
    style="
      width: 100%;
      color: black;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-left: 100px;
    "
  >
    <div>
      <h1 style="font-weight: bolder; font-size: 4em">We're hiring</h1>
      <p style="font-size: 2em">Get your <span>Dream Job</span> today</p>
      <p style="font-size: 2em">At 4IQ Technologies</p>

      <p>
       
      </p>
    </div>
  </div>
  <div>
    <img
      src="https://img.freepik.com/premium-vector/we-are-hiring-group-people-are-holding-paper_186930-737.jpg"
      alt=""
      style="
        display: flex;
        margin-right: 100px;
        height: 100%;
        mix-blend-mode: color-burn;
      "
    />
  </div>
</div>

{% block content %}
<center>
  <h2
    class="subtitle has-text-centered"
    style="color: #561c32; font-size: 55px; text-decoration: underline"
  >
    Newest jobs
  </h2>
</center>

<br />
<div
  class="container row"
  style="width: 100%; margin: auto; display: flex; justify-content: center"
>
  {% for job in jobs %}

  <!-- <div class="col-sm-1 col-md-3 " style="margin: 5px;"> -->
  <div class="card" style="width: 350px; margin: 10px">
    {% if job.image %}
    <img
      class="card-img-top"
      src="{{ job.image.url }}"
      style="height: 100px; object-fit: cover; overflow: hidden"
      alt="Card image cap"
    />
    {% else %}
    <img
      class="card-img-top"
      src="{% static 'job.jpg' %}"
      style="height: 200px; object-fit: cover; overflow: hidden"
      alt="Card image cap"
    />
    {% endif %}

    <h4
      class="card-title"
      style="
        margin: 0px;
        font-weight: bolder;
        padding: 5px;
        text-align: center;
        background-color: black;
        color: white;
      "
    >
      {{job.title }}
    </h4>
    <div class="card-body" style="background-color: #f0deef">
      <div class="media">
        <div class="media-content">
          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19); margin-right: 5px"
              class="fas fa-clock"
            ></i>
            <p style="color: black; font-style: italic">
              Posted on:
              <span class="title" style="font-weight: bolder"
                >{{ job.created_at }}</span
              >
            </p>
          </div>
          <div style="display: flex;">
          <i
          style="font-size: 20px; color: rgb(32, 19, 19); margin-right: 5px"
          class="fas fa-clock"
        ></i>
          <p style="color: black; font-style: italic">
            Deadline:
            <span class="title" style="font-weight: bolder"
              >{{ job.deadline }}</span
            >
          </p>
        </div>
          <!-- second row -->
          <!-- <div style="display: flex"> -->
          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19)"
              class="fas fa-dollar-sign"
            ></i>
            <div style="display: inline; margin: 0px 10px; margin-right: 100px">
                <p style="color: black">Salary: <span class="title" style="font-weight: bolder;">{{ job.salary }}</span></p>
              
            </div>
          </div>

          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19)"
              class="fas fa-briefcase"
            ></i>
            <div style="display: inline; margin: 0px 10px">
              <p style="color: black">Experience:</p>
              <span class="title" style="font-weight: bolder"
              >{{ job.experience}}</span>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

      <!-- button -->
      <div>
        <hr />
        <center>
          {% if request.user.is_authenticated %}

          <a
            class="btn custom-btn"
            style="
              font-weight: 100;
              font-size: 1em;
              border: solid 2px grey;
              color: #f7edee;
              background-color: #561c32;
              border-radius: 10cm;
              width: 5cm;
              align-items: center;
            "
            href="{% url 'job:job_detail' job.id %}"
            >View</a
          >
          {% else %}
          <a
          class="btn custom-btn"
          style="
            font-weight: 100;
            font-size: 1em;
            border: solid 2px grey;
            color: #f7edee;
            background-color: #561c32;
            border-radius: 10cm;
            width: 5cm;
            align-items: center;
          "
          href="{% url 'employee:login'  %}"
          >Login to view more </a
        >
          {% endif %}
        </center>
      </div>
    </div>
  </div>
  <!-- </div> -->
  {% endfor %}
</div>
{% endblock %}
<!-- <section style="background-color: white; padding: 50px;">
  <h2 style="text-align: center; color:#561c32;text-decoration :">Testimonials</h2>
  <div class="carousel-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="testimonial" style="margin: 10px; padding: 20px; max-width: 400px; text-align: center; border: 1px solid #ccc; border-radius: 10px;    background-color: #d5abb9;
      ">
          <img src="{% static 'man.jpeg' %}" alt="John Smith" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; margin-bottom: 20px;">
          <h3 style="font-size: 1.5rem; margin-bottom: 10px;">John Kamau</h3>
          <p style="font-size: 1.2rem; margin-bottom: 0;">"Working at 4IQ TECHNOLOGIES has been an amazing experience. The team is supportive and collaborative, and I feel like I'm making a real impact."</p>
      </div>
      <div class="testimonial" style="margin: 10px; padding: 20px; max-width: 400px; text-align: center; border: 1px solid #ccc; border-radius: 10px;    background-color: #d5abb9;
      ">
          <img src="{% static 'woman2.jpeg' %}" alt="Jane Doe" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; margin-bottom: 20px;   
          ">
          <h3 style="font-size: 1.5rem; margin-bottom: 10px;">Jane Githinji</h3>
          <p style="font-size: 1.2rem; margin-bottom: 0;">"I've been at 4IQ TECHNOLOGIES for over five years, and I can honestly say it's the best decision I've made for my career. The leadership is visionary and truly cares about the employees."</p>
      </div>
      <div class="testimonial" style="margin: 10px; padding: 20px; max-width: 400px; text-align: center; border: 1px solid #ccc; border-radius: 10px; background-color: #d5abb9;">
          <img src="{% static 'mann.jpeg' %}" alt="Mike Johnson" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%; margin-bottom: 20px;">
          <h3 style="font-size: 1.5rem; margin-bottom: 10px;">Mike Johnson</h3>
          <p style="font-size: 1.2rem; margin-bottom: 0;">"I joined this company straight out of college, and it's been an incredible journey so far. The opportunities for growth are endless, and the company culture is unmatched."</p>
      </div>
  </div>
</section> -->
<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center text-dark py-5" style=" color :#561c32; ">Testimonials</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" style="background-color: #561c32;
      ">
        <li data-target="#testimonial-carousel" style="color: #561c32;" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-12">
              <div class="testimonial p-5 mx-auto">
                <img src="{% static 'man.jpeg' %}" alt="John Smith" class="rounded-circle mx-auto d-block" style="width: 150px; height: 150px; object-fit: cover;">
                <h3 class="pt-3 text-center">John Kamau</h3>
                <p class="text-center">"Working at 4IQ TECHNOLOGIES has been an amazing experience. The team is supportive and collaborative, and I feel like I'm making a real impact."</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-12">
              <div class="testimonial p-5 mx-auto">
                <img src="{% static 'woman2.jpeg' %}" alt="Jane Doe" class="rounded-circle mx-auto d-block" style="width: 150px; height: 150px; object-fit: cover;">
                <h3 class="pt-3 text-center">Jane Githinji</h3>
                <p class="text-center">"I've been at 4IQ TECHNOLOGIES for over five years, and I can honestly say it's the best decision I've made for my career. The leadership is visionary and truly cares about the employees."</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-12">
              <div class="testimonial p-5 mx-auto">
                <img src="{% static 'mann.jpeg' %}" alt="Mike Johnson" class="rounded-circle mx-auto d-block" style="width: 150px; height: 150px; object-fit: cover;">
                <h3 class="pt-3 text-center">Mike Johnson</h3>
                <p class="text-center">"I joined this company straight out of college, and it's been an incredible journey so far. The opportunities for growth are endless, and the company culture is unmatched."</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev"  href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" style="background-color: #561c32;" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" style="background-color: #561c32; " aria-hidden="true"></span>
        <span class="sr-only">Next</span>


        </a>
    </div>

  </div>

<br />

{% include 'footer.html' %}
