{% load static %} {% include 'header.html' %} {% if message %}
<div id="alert" class="alert alert-success">{{ message }}</div>
<script>
  setTimeout(function () {
    document.getElementById("alert").style.display = "none";
  }, 5000);
</script>
{% endif %}
<div
  class="jumbotron feature custom-land-page-bg"
  style="
    border-radius: 0;
    background-color: #d5abb9;
    height: 60vh;
    display: flex;
  "
>
  <div
    style="
      width: 100%;
      color: black;
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-left: 100px;
    "
  >
    <div>
      <h1 style="font-weight: bolder; font-size: 4em">We're hiring</h1>
      <p style="font-size: 2em">Get your <span>Dream Job</span> today</p>
      <p style="font-size: 2em">At 4IQ Technologies</p>

      <p>
        <a
          class="btn custom-btn"
          style="
            font-weight: 100;
            font-size: 1em;
            border: solid 2px grey;
            color: #f7edee;
            background-color: #561c32;
            border-radius: 10cm;
          "
          href=""
          >Apply now</a
        >
      </p>
    </div>
  </div>
  <div>
    <img
      src="https://img.freepik.com/premium-vector/we-are-hiring-group-people-are-holding-paper_186930-737.jpg"
      alt=""
      style="
        display: flex;
        margin-right: 100px;
        height: 100%;
        mix-blend-mode: color-burn;
      "
    />
  </div>
</div>

{% block content %}
<center>
  <h2
    class="subtitle has-text-centered"
    style="color: #561c32; font-size: 55px; text-decoration: underline"
  >
    Newest jobs
  </h2>
</center>

<br />
<div
  class="container row"
  style="width: 100%; margin: auto; display: flex; justify-content: center"
>
  {% for job in jobs %}

  <!-- <div class="col-sm-1 col-md-3 " style="margin: 5px;"> -->
  <div class="card" style="width: 350px; margin: 10px">
    {% if job.image %}
    <img
      class="card-img-top"
      src="{{ job.image.url }}"
      style="height: 100px; object-fit: cover; overflow: hidden"
      alt="Card image cap"
    />
    {% else %}
    <img
      class="card-img-top"
      src="https://business.uonbi.ac.ke/sites/default/files/2020-11/job.jpg"
      style="height: 200px; object-fit: cover; overflow: hidden"
      alt="Card image cap"
    />
    {% endif %}

    <h4
      class="card-title"
      style="
        margin: 0px;
        font-weight: bolder;
        padding: 5px;
        text-align: center;
        background-color: black;
        color: white;
      "
    >
      {{job.title }}
    </h4>
    <div class="card-body" style="background-color: #f0deef">
      <div class="media">
        <div class="media-content">
          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19); margin-right: 5px"
              class="fas fa-clock"
            ></i>
            <p style="color: black; font-style: italic">
              Posted on:
              <span class="title" style="font-weight: bolder"
                >{{ job.created_at }}</span
              >
            </p>
            <p style="color: black; font-style: italic">
              Deadline:
              <span class="title" style="font-weight: bolder"
                >{{ job.deadline }}</span
              >
            </p>
          </div>
          <!-- second row -->
          <!-- <div style="display: flex"> -->
          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19)"
              class="fas fa-dollar-sign"
            ></i>
            <div style="display: inline; margin: 0px 10px; margin-right: 100px">
                <p style="color: black">Salary: <span class="title" style="font-weight: bolder;">{{ job.salary }}</span></p>
              
            </div>
          </div>

          <div style="display: flex">
            <i
              style="font-size: 20px; color: rgb(32, 19, 19)"
              class="fas fa-briefcase"
            ></i>
            <div style="display: inline; margin: 0px 10px">
              <p style="color: black">Experience:</p>
              <p class="title" style="height: 40px; font-weight: bolder;">{{ job.experience}}</p>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

      <!-- button -->
      <div>
        <hr />
        <center>
          <a
            class="btn custom-btn"
            style="
              font-weight: 100;
              font-size: 1em;
              border: solid 2px grey;
              color: #f7edee;
              background-color: #561c32;
              border-radius: 10cm;
              width: 5cm;
              align-items: center;
            "
            href="{% url 'job:job_detail' job.id %}"
            >View</a
          >
        </center>
      </div>
    </div>
  </div>
  <!-- </div> -->
  {% endfor %}
</div>
{% endblock %}
<!-- <div>
  
  <hr
  style="
    width: 60%;
    color: #561c32;
    border: solid 2px #561c32;
    background-color: #561c32;
    align-items: center;
    "
/>
<center>
  <h1 style="color: #561c32; font-size: 50px">Steps to Apply</h1>
</center>
<hr
style="
    width: 10%;
    color: #561c32;
    border: solid 2px #561c32;
    background-color: #561c32;
    "
/>
</div> -->

<!-- steps to apply -->
<!-- <div style="display: flex;  justify-content: center" >
  <div style="margin-left: 0px; size: 30px">
    <button
      class="btn custom-btn"
      style="
        font-weight: 200;
        font-size: 1em;
        color: #561c32;
        border: solid 2px #561c32;

        background-color: #f0deef;
        border-radius: 40cm;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;

      "
    >
      1
    </button>

  
    <h4 style="color: #561c32">Sign-Up</h4>
  </div>
  <div style="border-left: 3px solid #561c32;
  height: 200px; margin-left: 100px;"></div>

  <div style="margin-left: 100px; size: 30px">
    <button
      class="btn custom-btn"
      style="
        font-weight: 200;
        font-size: 1em;
        color: #561c32;
        border: solid 2px #561c32;

        background-color: #f0deef;
        border-radius: 40cm;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;

      "
    >
      2
    </button>
    <h4 style="color: #561c32">Apply For a Job</h4>
</div>
 <div style="border-left: 3px solid #561c32;
 height: 200px; margin-left: 100px;"></div>

  <div style="margin-left: 150px; size: 30px">
    <button
    class="btn custom-btn"
    style="
      font-weight: 200;
      font-size: 1em;
      color: #561c32;
      border: solid 2px #561c32;
      background-color: #f0deef;
      border-radius: 40cm;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;

    "
  >
    3
  </button>
  <h4 style="color: #561c32">Await Feedback</h4>
</div>
 <div style="border-left: 3px solid #561c32;
 height: 200px; margin-left: 100px;"></div>
</div> -->

<br />

{% include 'footer.html' %}
