

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Recruitement management system</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
     />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
    />
  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg  " style="display: flex; background-color: #561C32;" > 
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar" style="padding: 5px 30px">
        <div class="navbar-nav" style="width: 100%;">
            <a class="navbar-brand" style="color: #D5ABB9" href="{% url 'employee:base' %}">4IQ Technologies</a>
    
            <a style="color: white;" class="nav-item nav-link" id="home" href="{% url 'employee:base' %}">
 
            <i class="fa fa-home"></i>Home</a>
    
            <a
            style="color: white; "
            class="nav-item nav-link"
            href="{% url 'employee:about'%}"
            ><i class="fas fa-address-card"></i>About Us</a>
            
 
 
            <a
            style="color: white;"
            class="nav-item nav-link"
            href="{% url 'employee:contact'%}"
            ><i class="fas fa-phone"></i>Contact Us</a
            >
            
           {% if request.user.is_authenticated %}
           <a
           style="color: white;"
           class="nav-item nav-link"
           href="{% url 'employee:logout' %}"
           ><i class="fas fa-phone"></i>Logout</a
           >
           {% else %}
            <a
            style="color: white;"
            class="nav-item nav-link"
            href="{% url 'employee:register' %}"
            ><i class="fas fa-sign-in-alt"></i>Sign-Up</a
            >
            {% endif %}
            {% if request.user.is_authenticated %}

            <a
            style="color: white;"
            class="nav-item nav-link"
            href="{% url 'users:dashboard' %}"
            ><i class="fas fa-sign-in-alt"></i>Dashboard</a
            >

            <a
            style="color: white;"
            class="nav-item nav-link"
            href="#"
            ><i class="fas fa-sign-in-alt"></i>Notifications ({{ notifications.count }})</a
            >
            {% endif %}


            
            <form class="form-inline my-2 my-lg-0 rightNav" style="flex-grow: 1; justify-content: end;">
                <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 bg-info" style="color: white;" type="submit">Search</button>
            </form>
            </div>
        
          </div>
        </div>
      </nav>
      <!--End of nav-->
      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>
