{% include 'header.html' %}
{% block content %}

<div>
	  

	<div class="container my-4">
		<h1 class="text-center">4IQ Technologies Employee Recruitment System Help</h1>
		<hr>
		<h3>Getting Started</h3>
		<p>If you are a new user, please register for an account by clicking on the "Sign-Up" button on the login page. Once you have registered, you can log in to the system using your username and password.</p>
        <p> You can choose an account type either a "Jobseeker" and "Employer"</p>

		<h3>Creating a Job Posting</h3>
		<p>To create a new job posting, click on the "Add Job" button on the dashboard. You will be prompted to enter the job title, description, and other details. Once you have filled in all the required fields, click on the "Save" button to create the job posting.</p>
        <p style="color: #b73d28;">Only if you choose a "Employer" as the account type</p>
		<h3>Viewing Applications for Employers</h3>
		<p>You can view all the applications for a particular job posting by clicking on the "View Applications"  button (in the view job table) next to the job posting on the dashboard. You can then view each application individually and take action on it. </p>
        <h3>Applying for a job for Jobseekers</h3>
        <p>Job Seekers are able to apply for jobs by seraching for a specific job they want,view job details,apply for the job and view applications on their dashboard</p>

	</div>

</div>
{% endblock  %}
{% include 'footer.html' %}