 {%include 'header.html'%}

<script>
  function checkpassword() {
    if (document.signup.password.value != document.signup.cpassword.value) {
      alert("Password and Confirm Password field does not match");
      document.signup.cpassword.focus();
      return false;
    }
    return true;
  }
</script>

<div class="card shadow m-5">
  <div class="card-body" style="background-color: #f7f0f5">
    <h5 class="p-2" style="border-bottom: 2px solid orange; color: #561c32">
      Create an account
    </h5>
    <div class="container-fluid">
      <form method="post"  name="signup" onsubmit="return checkpassword()">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> First Name</label>
              <input
                type="text"
                name="firstname"
                class="form-control"
                placeholder="Enter your First Name"
                required
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Last Name</label>
              <input
                type="text"
                name="lastname"
                class="form-control"
                placeholder="Enter Your Last Name"
                required
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label> Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Enter Your preferred Username"
                required
              />
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label> Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter Your Email"
                required
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter Your Password"
                required
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                name="cpassword"
                class="form-control"
                placeholder="Enter Your Password Again"
                required
              />
            </div>
          </div>
        </div>
        <br />
        <div class="field" class="col-sm-6">
            <hr>
            <label>Account Type</label>
          <div class="control">
            <div class="select">
              <select name="account_type" >
                <option value="jobseeker" selected>Job Seeker</option>
                <option value="employer" >Employer</option>
              </select>
            </div>
          </div>
        </div>
        <input
          type="submit"
          value="Sign Up"
          class="m-2 px-3 btn btn-primary"
          style="background-color: #561c32"
        />
        <p>
          Already have an account?<a href="{% url 'employee:login' %}">login</a>
        </p>
      </form>
    </div>
  </div>
</div>


