 {%include 'header.html'%}

<script>
  function checkpassword() {
    if (document.signup.password.value != document.signup.cpassword.value) {
      alert("Password and Confirm Password field does not match");
      document.signup.cpassword.focus();
      return false;
    }
    return true;
  }
  function togglePasswordVisibility() {
    var passwordField = document.getElementById("password");
    if (passwordField.type === "password" ) {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
  </script>
  
  
  {% if messages %}

  {% for message in messages %}

  <div id="alert" class="alert alert-danger " >{{ message }}</div>

  <script>
    setTimeout(function () {
      document.getElementById("alert").style.display = "none";
    }, 5000);
  </script>
  {% endfor %}
  {% endif %}

  

<div class="card m-5" style="border: none" >
  <div class="card-body shadow " style="background-color: #f7f0f5; max-width: 400px; margin: auto">
    <h5 class="p-2" style="border-bottom: 2px solid orange; color: #561c32">
      Create an account
    </h5>
    <div class="container-fluid">
      <form method="post"  name="signup" onsubmit="return checkpassword()">
        {% csrf_token %}
        <div class="form-row" style="display: flex; flex-direction: column; max-width: 400px; margin: auto">
          <!-- <div class="col-sm-6"> -->
            <div class="form-group" style="max-width: 400px">
              <label style="font-family: monospace; font-weight: lighter;"> First Name</label>
              <input
                type="text"
                name="firstname"
                class="form-control"
                placeholder="Enter your First Name"
                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label> Last Name</label>
              <input
                type="text"
                name="lastname"
                class="form-control"
                placeholder="Enter Your Last Name"
                required
              />
            </div>
          </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label style="font-family: monospace; font-weight: lighter;"> Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="Enter Your preferred Username"
                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label style="font-family: monospace; font-weight: lighter;"> Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter Your Email"
                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group" style="display: flex; flex-direction: column">
              <label style="font-family: monospace; font-weight: lighter;"> Password</label>
              <span style="color: red; font-style: italic; font-size: .8em;">Should be atleast six characters</span>
                 <span style="color: red; font-style: italic; font-size: .8em;">Should include atleast one digit(0-9)</span>
                 <span style="color: red; font-style: italic; font-size: .8em;">Should include atleast one symbol(@,#,%,*)</span>
              <input
                type="password"
                id="password"
                name="password"
                pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}"
                class="form-control"
                placeholder="Enter Your Password"
                required
              />
              <button type="button" style="margin-right: 0px; width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;" onclick="togglePasswordVisibility()">&#x1F441;</button>
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                name="cpassword"
                pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}"
                class="form-control"
                placeholder="Enter Your Password Again"
                required
              />

            </div>
          <!-- </div> -->
        </div>
        <br />
        <!-- <div class="field" >

            <hr>
            <label>Account Type</label>
          <div class="control">
            <div class="select">
              <select name="account_type" >
                <option value="jobseeker" selected>Job Seeker</option>
                <option value="employer" >Employer</option>
              </select>
            </div>
          </div>
          
        </div> -->
        <!-- <hr> -->
        <div class="form-group">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Account Type</label>
          <select name="account_type" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="jobseeker">Job Seeker</option>
            <option value="employer">Employer</option>
          </select>
        </div>
        <input
          type="submit"
          value="Sign Up"
          class="px-3 btn btn-primary"
          style="background-color: #561c32; width: 100%;"
        />
        <p>
          Already have an account?<a href="{% url 'employee:login' %}">login</a>
        </p>
      </form>
    </div>
  </div>
</div>


