 {%include 'header.html'%}

<script>
  function checkpassword() {
    if (document.signup.password.value != document.signup.cpassword.value) {
      alert("Password and Confirm Password field does not match");
      document.signup.cpassword.focus();
      return false;
    }
    return true;
  }
  function togglePasswordVisibility() {
    var passwordField = document.getElementById("password");
    if (passwordField.type === "password" ) {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
</script>
  
<script src="path/to/validator.min.js">

</script>
<script>
    const form = document.querySelector('form');
    const emailInput = form.querySelector('#email');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault()
      
      // Get the value of the email input field
      const email = emailInput.value;
      
      // Validate the email using Validator.js
      if (validator.isEmail(email)) {
        // If the email is valid, submit the form
        form.submit();
      } else {
        // If the email is invalid, show an error message
        alert('Please enter a valid email address.');
      }
    });
</script>
 {% if form.errors %}
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <div class="alert alert-danger"> Error at {{ field }} field: {{ error }}</div>
    {% endfor %}
  {% endfor %}
{% endif %}
  
  {% if messages %}

  {% for message in messages %}

  <div id="alert" class="alert alert-danger " >{{ message }}</div>

  <script>
    setTimeout(function () {
      document.getElementById("alert").style.display = "none";
    }, 5000);
  </script>
  {% endfor %}
  {% endif %}

  

<div class="card m-5" style="border: none" >
  <div class="card-body shadow " style="background-color: #f7f0f5; max-width: 400px; margin: auto">
    <h5 class="p-2" style="border-bottom: 2px solid orange; color: #561c32">
      Create an account
    </h5>
    <div class="container-fluid">
      <form method="post"  name="signup" onsubmit="return checkpassword()">
        {% csrf_token %}
        
        {%if form.errors %} {% for error in form.errors %}
        <div class="alert alert-danger"> Error at {{ error }} Field</div>
        {% endfor %} {% endif %} 
      
        {% if form.errors %}
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
            <div class="alert alert-danger"> Error at {{ field }} field: {{ error }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}
        <div class="form-row" style="display: flex; flex-direction: column; max-width: 400px; margin: auto">
          <!-- <div class="col-sm-6"> -->
            <div class="form-group" style="max-width: 400px">
              <label style="font-family: monospace; font-weight: lighter;"> First Name</label>
              <input
                type="text"
                name="firstname"
                title="Only letters accepted"

                class="form-control"
                pattern="[A-Za-z]+"
                placeholder="firstname"
                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label> Last Name</label>
              <input
                type="text"
                name="lastname"
                class="form-control"
                placeholder="Enter Your Last Name"
                required
              />
            </div>
          </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label style="font-family: monospace; font-weight: lighter;"> Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                pattern="[A-Za-z]+"
                title="Only letters accepted"

                placeholder="username"
                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label style="font-family: monospace; font-weight: lighter;"> Email</label>
              <input
                type="email"
                name="email"
                title="Enter a valid email"
                id="validateemail"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"

                class="form-control"
                placeholder="example:- johndoe@gmail.com"

                required
              />
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group" style="display: flex; flex-direction: column">
              <label style="font-family: monospace; font-weight: lighter;"> Password</label>
              <span style="color: red; font-style: italic; font-size: .8em;">Should be atleast six characters</span>
                 <span style="color: red; font-style: italic; font-size: .8em;">Should include atleast one digit(0-9)</span>
                 <span style="color: red; font-style: italic; font-size: .8em;">Should include atleast one symbol(@,#,%,*)</span>
              <input
                type="password"
                id="password"
                name="password"
                pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}"
                class="form-control"
                placeholder="Enter Your Password"
                required
              />
              <button type="button" style="margin-right: 0px; width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;" onclick="togglePasswordVisibility()">&#x1F441;</button>
            </div>
          <!-- </div> -->
          <!-- <div class="col-sm-6"> -->
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                name="cpassword"
                pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{6,}"
                class="form-control"
                placeholder="Enter Your Password Again"
                required
              />

            </div>
        </div>
        <br />
    
        <div class="form-group">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Account Type</label>
          <select name="account_type" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="jobseeker">Job Seeker</option>
            <option value="employer">Employer</option>
          </select>
        </div>
        <input
          type="submit"
          value="Sign Up"
          class="px-3 btn btn-primary"
          style="background-color: #561c32; width: 100%;"
        />
        <p>
          Already have an account?<a href="{% url 'employee:login' %}">login</a>
        </p>
      </form>
    </div>
  </div>
</div>


