{% extends "admin/change_list.html" %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
    
    
    
    
    
  </head>
  <!-- job/templates/admin/sale_summary_change_list.html -->
 
  {% block content %}
  <div>
    <span style="  width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px; background-color: green; "></span> Selected &emsp;
    <span style="  width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px; background-color: yellow; "></span> Pending &emsp;
    <span style="  width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px; background-color: red; "></span> Rejected
  </div>
  <div class="container">
  <table class="table table-hover">
    <thead class="thead-dark table-striped table-bordered">
      <tr>
        <th>Job Title</th>
        <th>Total Applications</th>
        <th>Selected Applications</th>
        <th>Rejected Applications</th>
        <th>Pending Applications</th>
        <th>% Selected</th>
        <th>% Rejected</th>
        <th>% Pending</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr>
        <td>{{ row.job__title }}</td>
        <td>{{ row.total }}</td>
        <td>{{ row.total_selected }}</td>
        <td>{{ row.total_rejected }}</td>
        <td>{{ row.total_pending }}</td>
        <td>{{ row.percent_selected | floatformat:"2" }}</td>
        <td>{{ row.percent_rejected | floatformat:"2" }}</td>
        <td>{{ row.percent_pending | floatformat:"2" }}</td>
        <td>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ row.percent_selected }}%" aria-valuenow="{{ row.percent_selected }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ row.percent_rejected }}%" aria-valuenow="{{ row.percent_rejected }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ row.percent_pending }}%" aria-valuenow="{{ row.percent_pending }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
 
    <br />

    <!-- ... -->

    <h3 style="text-decoration: underline">Total Applications over time</h3>

    {% block result_list %} {{ block.super }}
    <div class="results">
      <div class="results">
        <h2>Total Applications Over Time</h2>
        <table class="table table-hover">
          <thead class = "thead-dark table-striped table-bordered
        ">
            <tr>
              <th>Date of Application</th>
              <th>Total Applications That Day</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            {% for x in summary_over_time %}
              <tr>
                <td>{{ x.period|date:"d/m/Y" }}</td>
                <td>{{ x.total|default:0 }}</td>
              
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ x.total|default:0 }}%;" aria-valuenow="{{ x.total|default:0 }}" aria-valuemin="0" aria-valuemax="10">{{ x.total|default:0 }}</div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      

    </div>
    </div>
    
    {% endblock %} {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </div>
</html>
