.nav-link{
    color: #f7edee !important;
}

.nav-link:hover{
color: yellow !important;
background-color: #a15371;
border-radius: 15px;
}

.navbar{
    color: #561c32;
}

.salo{
    color: rgba(229, 15, 15, 0.5);
}
.bg-success{
    color: #561c32 !important;
}
